:root { 
--gray_700:#57745e; 
--gray_400:#b8d5bf; 
--gray_500:#94b19b; 
--blue_gray_100:#d8d8d8; 
--amber_300:#fdc858; 
--green_800:#3f7539; 
--blue_gray_800_01:#2e3d4b; 
--cyan_300:#65cdd5; 
--teal_600:#029664; 
--teal_800:#007549; 
--blue_gray_800:#355b3e; 
--blue_gray_900:#213a27; 
--white_A700:#ffffff; 
--deep_orange_100:#f5dbc4; 
--gray_700_01:#58745e; 
}